<div class="card mb-3">
  <img class="card-img-top" src="" alt="">
  <div class="card-body">
    <h5 class="card-title">About the app</h5>
    <p class="card-text"> The app allows you to store your own contacts. <br> In order to fully use MyContact, you need to create an account. </p>
    <%= image_tag("people.jpg", :alt => "people feed", style: 'height:180px width:100%', class:"mx-auto d-block")%>

  </div>
</div>
