<h1>My contacts</h1>
<br>
<div class="card" style="width: 18rem;">
  <div class="card-body">


    <h6 class="card-subtitle mb-2 text-muted">If you don't see your contacts - you have to log in first</h6>

    <br>

      <%= link_to "Sign In", new_user_session_path, class:"nav-link btn-info btn-sm" %>

      <br>
      <%= link_to "Sign Up", new_user_registration_path, class:"nav-link btn-info btn-sm" %>

  </div>
</div>